body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(62, 62, 62);
    color: white;
}

h1{
    text-align: center;
}

.throwButtons{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin: 1em;
}

.p1Throw{
    border: solid black;
    height: 35px;
    width: 100px;
    margin: 1em;
    text-align: center;
    padding-top: 15px;
    border-radius: 20%;
    background-color: red;
    color: white;
}

.p2Throw {
    border: solid black;
    height: 35px;
    width: 100px;
    margin: 1em;
    text-align: center;
    padding-top: 15px;
    border-radius: 20%;
    background-color: blue;
    color: white;
}

.p1Throw:hover, .p2Throw:hover{
    cursor: pointer;
    opacity: 0.6;

}
.newRound {
    border: solid black;
    width: 100px;
    border: solid black;
    height: 35px;
    width: 100px;
    margin-left: 1em;
    text-align: center;
    padding-top: 15px;
    border-radius: 20%;
    background-color: gray;
}
.newRound:hover {
    opacity: 0.7;
    cursor: pointer;
}

/* .roundScore, .totalScore {
    display: flex;
    margin: 5px;
    font-weight:700;
} */

.scoreBox{
    display: flex;
        border: solid green;
    width: 99%;
    height: 140px;
    /* height: 200px; */
}


.totalScore{
    /* border: solid white; */
    width: 30%;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}

.totalScoreP1{
    background-color: red;
    width: 30%;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}
.totalScoreP2{
    background-color:  blue;
    width: 30%;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}
.totalText{
    /* border: solid blue; */
    height: 40%;
    width: 100%;
    font-size: 50px;
    text-align: center;
}
.player1Total, .player2Total, .player1Round, .player2Round {
    /* border: solid red; */
    width: 40%;
    height: 40%;
}
.roundScore{
    /* border: solid white; */
    width: 30%;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.roundScoreP1{
    background-color: red;
    width: 30%;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.roundScoreP2{
   background-color: blue;
    width: 30%;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.roundText{
    /* border: solid blue; */
    height: 40%;
    width: 100%;
    font-size: 50px;
    text-align: center;
}



.p1w {
    font-size: 60px;
}
.p2w{
    font-size: 60px;
}

.gameBoard{
    border: solid black;
    width: 700px;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-size: cover;
}
.gamePlay {
    display: flex;
     
}

.p1Board, .p2Board {
    border: double brown;
    border-width: 6px;
    width: 180px;
    height: 220px;
    margin-top: 80px;
    background-color: wheat;
    display: flex;
    justify-content: center;
    

}
.p2Board{
    margin-left: 150px;
}
.boards{
    display: flex;
    
}

.circle{
    border: solid brown;
    border-width: 3px;
    background-color: white;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-top: 40px;
}

.p1Bags {
    width:300px;
    height: 40px;
    display: flex;
    /* border:solid red; */
    margin-top: 200px;
    justify-content: space-evenly;
}
.p2Bags{
    width:300px;
    height: 40px;
    display: flex;
    /* border: solid blue; */
    margin-top: 200px;
    justify-content: space-evenly;
}
.p1Bag1, .p1Bag2, .p1Bag3, .p1Bag4 {
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 25%;
    
    
    /* animation: bagThrowHole 1s forwards; */
}

.p2Bag1, .p2Bag2, .p2Bag3, .p2Bag4 {
    width: 30px;
    height: 30px;
    background-color: blue;
    border-radius: 25%;
}

.venueButtons{
    margin-top: 2em;
    display: flex;
    width: 800px;
    justify-content: space-evenly;

}

.venue{
    border: solid white;
    width: 150px;
    text-align: center;
    height: 35px;
    padding-top: 10px;    
    border-radius: 10%;
    background-color: black;
}
.venue:hover{
    cursor: pointer;
    opacity: 0.5;
}

.instructions {
    width: 700px;
    height: 500px;
    border: solid white;
    margin-top: 3em;
    text-align: center;
    display: none;
}
.ins {
    font-size: 50px;
}
li {
    font-size: 20px;
    line-height: 1.8;
}

.insButton{
    border: solid black;
    width: 100px;
    border: solid black;
    height: 35px;
    width: 100px;
    margin-left: 1em;
    margin-top: 3em;
    text-align: center;
    padding-top: 15px;
    border-radius: 20%;
    background-color: gray;
}
.insButton:hover {
    opacity: 0.7;
    cursor: pointer;
}
/* Animated bag classes to switch to on throw click */

/* P1 B1 */

.p1b1On{
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 25%;
    animation: p1B1On forwards 1s;
  
}
.p1b1Off{
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 25%;
    animation: p1B2Off forwards 1s;  
}

.p1b1Hole{
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 25%;
    animation: p1B1Hole forwards 1s;
}

/* P1 B2 */

.p1b2On{
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 25%;
    animation: p1B2On forwards 1s;
  
}
.p1b2Off{
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 25%;
    animation: p1B2Off forwards 1s;  
}

.p1b2Hole{
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 25%;
    animation: p1B2Hole forwards 1s;
}


/* P1 B3 */

.p1b3On{
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 25%;
    animation: p1B3On forwards 1s;
  
}
.p1b3Off{
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 25%;
    animation: p1B3Off forwards 1s;  
}

.p1b3Hole{
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 25%;
    animation: p1B3Hole forwards 1s;
}


/* P1 B4 */

.p1b4On{
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 25%;
    animation: p1B4On forwards 1s;
  
}
.p1b4Off{
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 25%;
    animation: p1B4Off forwards 1s;  
}

.p1b4Hole{
    width: 30px;
    height: 30px;
    background-color: red;
    border-radius: 25%;
    animation: p1B4Hole forwards 1s;
}

/* P2 Classes to switch to on throw */
/* P1 B1 */

.p2b1On{
    width: 30px;
    height: 30px;
    background-color: blue;
    border-radius: 25%;
    animation: p2B1On forwards 1s;
  
}
.p2b1Off{
    width: 30px;
    height: 30px;
    background-color: blue;
    border-radius: 25%;
    animation: p2B1Off forwards 1s;  
}

.p2b1Hole{
    width: 30px;
    height: 30px;
    background-color:blue;
    border-radius: 25%;
    animation: p2B1Hole forwards 1s;
}

/* P2 B2 */

.p2b2On{
    width: 30px;
    height: 30px;
    background-color: blue;
    border-radius: 25%;
    animation: p2B2On forwards 1s;
  
}
.p2b2Off{
    width: 30px;
    height: 30px;
    background-color: blue;
    border-radius: 25%;
    animation: p2B2Off forwards 1s;  
}

.p2b2Hole{
    width: 30px;
    height: 30px;
    background-color: blue;
    border-radius: 25%;
    animation: p2B2Hole forwards 1s;
}


/* P2 B3 */

.p2b3On{
    width: 30px;
    height: 30px;
    background-color: blue;
    border-radius: 25%;
    animation: p2B3On forwards 1s;
  
}
.p2b3Off{
    width: 30px;
    height: 30px;
    background-color: blue;
    border-radius: 25%;
    animation: p2B3Off forwards 1s;  
}

.p2b3Hole{
    width: 30px;
    height: 30px;
    background-color: blue;
    border-radius: 25%;
    animation: p2B3Hole forwards 1s;
}


/* P2 B4 */

.p2b4On{
    width: 30px;
    height: 30px;
    background-color: blue;
    border-radius: 25%;
    animation: p2B4On forwards 1s;
  
}
.p2b4Off{
    width: 30px;
    height: 30px;
    background-color: blue;
    border-radius: 25%;
    animation: p2B4Off forwards 1s;  
}

.p2b4Hole{
    width: 30px;
    height: 30px;
    background-color: blue;
    border-radius: 25%;
    animation: p2B4Hole forwards 1s;
}


/* Keyframes */

/* p1 b1 */

@keyframes p1B1On {
    0%{transform:translate(px, 0px)}
    100%{transform: translate(25px,-300px)}
}

@keyframes p1B1Hole {
    0%{transform:translate(0,0)}
    100%{transform:translate(90px, -388px)}
}
@keyframes p1B1Off {
    0%{transform:translate(0,0)}
    100%{transform:translate(-40px, -405px)}
}

/* p1 b2 */

@keyframes p1B2On {
    0%{transform:translate(px, 0px)}
    100%{transform: translate(25px,-350px)}
}

@keyframes p1B2Hole {
    0%{transform:translate(0,0)}
    100%{transform:translate(28px, -388px)}
}
@keyframes p1B2Off {
    0%{transform:translate(0,0)}
    100%{transform:translate(-80px, -300px)}
}

/* P1 B3 */

@keyframes p1B3On {
    0%{transform:translate(px, 0px)}
    100%{transform: translate(25px,-350px)}
}

@keyframes p1B3Hole {
    0%{transform:translate(0,0)}
    100%{transform:translate(-28px, -388px)}
}
@keyframes p1B3Off {
    0%{transform:translate(0,0)}
    100%{transform:translate(-80px, -200px)}
}

/* P1 B4 */

@keyframes p1B4On {
    0%{transform:translate(px, 0px)}
    100%{transform: translate(-35px,-300px)}
}

@keyframes p1B4Hole {
    0%{transform:translate(0,0)}
    100%{transform:translate(-98px, -388px)}
}
@keyframes p1B4Off {
    0%{transform:translate(0,0)}
    100%{transform:translate(-80px, -200px)}
}

/* P2!!! */


/* P2 Keyframes */
/* p2 b1 */

@keyframes p2B1On {
    0%{transform:translate(px, 0px)}
    100%{transform: translate(25px,-300px)}
}

@keyframes p2B1Hole {
    0%{transform:translate(0,0)}
    100%{transform:translate(90px, -388px)}
}
@keyframes p2B1Off {
    0%{transform:translate(0,0)}
    100%{transform:translate(-40px, -405px)}
}

/* p2 b2 */

@keyframes p2B2On {
    0%{transform:translate(px, 0px)}
    100%{transform: translate(25px,-350px)}
}

@keyframes p2B2Hole {
    0%{transform:translate(0,0)}
    100%{transform:translate(28px, -388px)}
}
@keyframes p2B2Off {
    0%{transform:translate(0,0)}
    100%{transform:translate(-80px, -300px)}
}

/* P2 B3 */

@keyframes p2B3On {
    0%{transform:translate(px, 0px)}
    100%{transform: translate(25px,-350px)}
}

@keyframes p2B3Hole {
    0%{transform:translate(0,0)}
    100%{transform:translate(-28px, -388px)}
}
@keyframes p2B3Off {
    0%{transform:translate(0,0)}
    100%{transform:translate(-80px, -200px)}
}

/* P2 B4 */

@keyframes p2B4On {
    0%{transform:translate(px, 0px)}
    100%{transform: translate(-35px,-300px)}
}

@keyframes p2B4Hole {
    0%{transform:translate(0,0)}
    100%{transform:translate(-98px, -388px)}
}
@keyframes p2B4Off {
    0%{transform:translate(0,0)}
    100%{transform:translate(-80px, -200px)}
}